<!DOCTYPE html>
<html lang="ko">
<head>
  {% load static %}
  <title>{% block title %}Moodie Cinema{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'home.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  {% block extra_css %}{% endblock %} <!-- extra_css 블록 추가 -->
  {% block head %}{% endblock %}
  {% block extra_js %}{% endblock %}
</head>
<body>

  <!-- Sidebar -->
  <div class="sidebar">
    <div class="logo">
      <a href="{% url 'home' %}">
        <img src="{% static 'images/로고.png' %}" alt="Logo" />
      </a>
    </div>
    
    <div class="navigation">
      <ul>
        <li><a href="{% url 'home' %}"><span class="fa fa-home"></span> <span>Home</span></a></li>
        <li><a href="{% url 'genres:category' %}"><span class="fa fa-search"></span> <span>카테고리</span></a></li>
        <li><a href="#"><span class="fa fas fa-book"></span> <span>Your Library</span></a></li>
      </ul>
    </div>

    <div class="navigation">
      <ul>
        <li>
          {% if user.is_authenticated %}
            <a href="{% url 'diary' %}"><span class="fa fas fa-plus-square"></span> <span>일기장</span></a>
          {% else %}
            <a href="{% url 'login' %}"><span class="fa fas fa-plus-square"></span> <span>일기장</span></a>
          {% endif %}
        </li>
        <li><a href="/wishlist/"><span class="fa fas fa-heart"></span> <span>찜 목록</span></a></li>
      </ul>
    </div>

    <div class="policies">
      <ul>
        <li><a href="#">Cookies</a></li>
        <li><a href="#">Privacy</a></li>
      </ul>
    </div>
  </div>

  <!-- Main Container -->
  <div class="main-container">
    <!-- Top Bar -->
    <div class="topbar">
      <div class="prev-next-buttons">
          <button type="button" class="fa fas fa-chevron-left"></button>
          <button type="button" class="fa fas fa-chevron-right"></button>
      </div>

      <script>
        document.querySelector('.fa-chevron-left').addEventListener('click', () => window.history.back());
        document.querySelector('.fa-chevron-right').addEventListener('click', () => window.history.forward());
      </script>

      <form class="search-form" action="{% url 'movie_search' %}" method="get">
        <div class="search_box">
            <button type="submit" tabindex="2" class="search-button">
                <img src="{% static 'images/돋보기 로고.png' %}" alt="검색">
            </button>
            <input type="text" name="q" maxlength="225" tabindex="1" placeholder="검색어를 입력하세요" class="search-input">
        </div>
      </form>

      <div class="navbar">
          <ul>
              {% if user.is_authenticated and user.is_staff %}
                <li><a href="{% url 'report_list' %}" class="nav-link">신고관리</a></li>
              {% endif %}
              <li><a href="{% url 'music:recommendation' %}" class="nav-link">OST음악</a></li>
              <li><a href="#">추가예정</a></li>
              <li class="divider">|</li>
              {% if user.is_authenticated %}
                  <li><a href="{% url 'profile' %}">프로필</a></li>
              {% else %}
                  <li><a href="{% url 'signup' %}">회원가입</a></li>
              {% endif %}
          </ul>
          {% if user.is_authenticated %}
              <form action="{% url 'logout' %}" method="post" style="display:inline;">
                  {% csrf_token %}
                  <button type="submit" title="로그아웃" onmouseover="this.innerHTML='로그아웃'" onmouseout="this.innerHTML='{{ user.get_username }}'">
                      {{ user.get_username }}
                  </button>
              </form>
          {% else %}
              <a href="{% url 'login' %}">
                <button type="button" class="login-button">로그인</button>
              </a>
          {% endif %}
      </div>
  </div>

    <!-- Content Block -->
    <div class="content">
      {% block content %}{% endblock %}
    </div>
  </div>

  <script src="https://kit.fontawesome.com/23cecef777.js" crossorigin="anonymous"></script>
</body>
</html>
