{% extends 'moodiecinema/base.html' %}
{% load static %}

{% block title %}카테고리{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'category.css' %}">
{% endblock %}

{% block content %}
    <div class="movie-lists">
        <h2>카테고리</h2>
        <div class="list">
            {% if genres %}
                {% for genre in genres %}
                    <div class="item">
                        <a href="{% url 'genres:genre_detail' genre_id=genre.genre_id %}">
                            <img src="https://image.tmdb.org/t/p/w500{{ genre.image_path|default:'' }}" alt="{{ genre.name }}">
                            <h4>{{ genre.name }}</h4>
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <p>장르 정보를 불러올 수 없습니다.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
