{% extends 'moodiecinema/base.html' %}

{% block title %}댓글 삭제{% endblock %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'community.css' %}">
{% endblock %}

{% block content %}
<div class="delete-confirm">
    <h1>댓글 삭제</h1>
    <p>정말로 이 댓글을 삭제하시겠습니까?</p>
    <p>"{{ object.content }}"</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn-danger">삭제</button>
        <a href="{{ object.post.get_absolute_url }}" class="btn-secondary">취소</a>
    </form>
</div>
{% endblock %}
