{% extends 'moodiecinema/base.html' %}

{% load static %}

{% block title %}홈{% endblock %}

{% block content %}
<div class="movie-lists">
  <h2>카테고리</h2>
  <div class="list-container">
    <button class="prev" onclick="scrollMovies('popular', -200)">&#10094;</button>
    <div class="list" id="popular">
      {% for movie in popular_movies|slice:":6" %}
      <div class="item">
        <a href="{% url 'movie_detail' movie.id %}">
          <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }} 포스터">
          <div class="play">
            <span class="fa fa-play"></span>
          </div>
          <h4>{{ movie.title }}</h4>
          <p>{{ movie.overview|truncatechars:100 }}</p>
        </a>
      </div>
      {% endfor %}
    </div>
    <button class="next" onclick="scrollMovies('popular', 200)">&#10095;</button>
  </div>
</div>

<!-- 카테고리: 지금 뜨는 콘텐츠 -->
<div class="movie-lists">
  <h2>지금 뜨는 콘텐츠</h2>
  <div class="list-container">
    <button class="prev" onclick="scrollMovies('trending', -200)">&#10094;</button>
    <div class="list" id="trending">
      {% for movie in trending_movies|slice:":6" %}
      <div class="item">
        <a href="{% url 'movie_detail' movie.id %}">
          <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }} 포스터">
          <div class="play">
            <span class="fa fa-play"></span>
          </div>
          <h4>{{ movie.title }}</h4>
          <p>{{ movie.overview|truncatechars:100 }}</p>
        </a>
      </div>
      {% endfor %}
    </div>
    <button class="next" onclick="scrollMovies('trending', 200)">&#10095;</button>
  </div>
</div>

<!-- 카테고리: 추천 콘텐츠 -->
<div class="movie-lists">
  <h2>회원님을 위해 엄선한 오늘의 콘텐츠</h2>
  <div class="list-container">
    <button class="prev" onclick="scrollMovies('recommended', -200)">&#10094;</button>
    <div class="list" id="recommended">
      {% for movie in recommended_movies|slice:":6" %}
      <div class="item">
        <a href="{% url 'movie_detail' movie.id %}">
          <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }} 포스터">
          <div class="play">
            <span class="fa fa-play"></span>
          </div>
          <h4>{{ movie.title }}</h4>
          <p>{{ movie.overview|truncatechars:100 }}</p>
        </a>
      </div>
      {% endfor %}
    </div>
    <button class="next" onclick="scrollMovies('recommended', 200)">&#10095;</button>
  </div>
</div>

<div class="preview" id="diary-preview">
  <div class="text">
    <h6>일기장 바로가기</h6>
    <p>일기를 작성하시면 해당 일기에 감정에 맞는 영화를 추천드려요!</p>
  </div>
  <div class="button">
    <button type="button" onclick="hidePreview()">일기장 이동</button>
  </div>
</div>
</div>

<script src="https://kit.fontawesome.com/23cecef777.js" crossorigin="anonymous"></script>
<script>
  function hidePreview() {
    document.getElementById("diary-preview").style.display = "none"; // preview 요소 숨기기
  }
</script>
{% endblock %}