.movie-lists {
    padding: 20px 40px;
}

.movie-lists h2 {
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 20px;
}

/* 카드 리스트 레이아웃 */
.movie-lists .list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* 간격 조정 */
    justify-content: flex-start; /* 카드들이 왼쪽 정렬되도록 설정 */
}

.movie-lists .item {
    width: 32%; /* 각 카드의 너비를 32%로 설정 */
    max-width: 350px; /* 최대 너비 제한 */
    height: 250px; /* 카드 높이 */
    background-color: #181818;
    border-radius: 6px;
    cursor: pointer;
    position: relative; /* 제목 고정을 위한 부모 요소 위치 지정 */
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.movie-lists .item:hover {
    background-color: #CCCC00 !important;
}

