/* genre_detail.css */
.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.movie-item {
    width: 200px;
    background-color: #181818;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
}

.movie-item:hover {
    transform: scale(1.05);
}

.movie-item img {
    width: 100%;
    border-bottom: 2px solid #333;
}

.movie-item h3 {
    color: #ffffff;
    font-size: 16px;
    margin: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.movie-item p {
    color: #aaaaaa;
    font-size: 14px;
    padding: 10px;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}
