/* 로그인 페이지 스타일 */
.login-container {
    max-width: 400px;
    margin: 250px auto;
    padding: 40px;
    background-color: #181818;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    box-sizing: border-box; /* 부모 요소에 추가 */
}

.login-container h2 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 20px;
}

.login-container input[type="text"],
.login-container input[type="password"],
.login-container button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-sizing: border-box; /* 각 요소에 추가 */
}

.login-container input[type="text"],
.login-container input[type="password"] {
    background-color: #333;
    color: #ffffff;
    border: none;
}

.login-container button {
    padding: 12px; /* 버튼의 높이를 입력 필드와 조금 다르게 설정 */
    background-color: #f7c948; /* 노란색 */
    color: #000000;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: #ffc107;
}

.signup-link {
    display: block;
    color: #b3b3b3;
    font-size: 14px;
    margin-top: 20px;
    text-decoration: none;
}

.signup-link:hover {
    color: #ffffff;
}

/* login.css */
.additional-links {
    margin-top: 15px;
    font-size: 14px;
}

.additional-links a {
    color: #b3b3b3;
    text-decoration: none;
}

.additional-links a:hover {
    color: #ffffff;
}

/* 구글 로그인 버튼 스타일 */
.google-login-btn {
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #ffffff;
    color: #757575;
    border: 1px solid #dadce0;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
    width: 130px;
}

.google-login-btn:hover {
    background-color: #f7f7f7;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.google-login-btn:active {
    background-color: #eeeeee;
}

.google-logo {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}


/* 네이버 로그인 버튼 스타일 */
.naver-login-btn {
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #1EC800; /* 배경색을 녹색으로 변경 */
    color: #ffffff; /* 글씨 색을 흰색으로 변경 */
    border: 1px solid #1EC800; /* 테두리도 녹색으로 유지 */
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: 10px; /* 버튼 사이의 마진 */
}

.naver-login-btn:hover {
    background-color: #17b300; /* 호버 시 배경색을 좀 더 짙은 녹색으로 변경 */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.naver-login-btn:active {
    background-color: #14a100; /* 클릭 시 배경색을 조금 더 진한 녹색으로 변경 */
}

.naver-logo {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

/* 카카오 로그인 버튼 스타일 */
.kakao-login-btn {
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #F7E600; /* 배경색을 노란색으로 변경 */
    color: #000000; /* 글씨 색을 검은색으로 변경 */
    border: 1px solid #F7E600; /* 테두리도 노란색으로 유지 */
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: 10px; /* 버튼 사이의 마진 */
}

.kakao-login-btn:hover {
    background-color: #f7f7f7; /* 호버 시 배경색을 살짝 변경 */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.kakao-login-btn:active {
    background-color: #eeeeee; /* 클릭 시 배경색을 살짝 변경 */
}

.kakao-logo {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}