/* 검색 결과 제목 스타일 */
.search-title {
    color: #ffcc00;
    font-size: 24px;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 30px;
}

/* 장르 필터 스타일 */
.genre-filter {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    color: #fff;
    margin-bottom: 30px;
    max-width: 100%;
    text-align: center;
}

.genre-filter h3 {
    color: #ffcc00;
    font-size: 20px;
    margin-bottom: 15px;
}

/* 장르 버튼 스타일 */
.genre-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.genre-options label {
    background-color: #444;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
    width: calc(20% - 10px); /* 5개씩 나오도록 설정 */
    box-sizing: border-box;
    justify-content: center;
}

.genre-options label:hover {
    background-color: #555;
}

.genre-options input[type="checkbox"] {
    margin-right: 5px;
    accent-color: #f0a500;
}

/* 적용 버튼 스타일 */
.apply-button {
    display: inline-block;
    background-color: #f0a500;
    color: #181818;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.apply-button:hover {
    background-color: #ffcc00;
}

/* 영화 목록 스타일 */
.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    max-width: 100%;
}

/* 영화 아이템 스타일 */
.movie-item {
    width: 220px;
    background-color: #181818;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
}

.movie-item:hover {
    transform: scale(1.05);
}

.movie-item a {
    text-decoration: none;
    outline: none;
    border: none;
    color: inherit;
}

.movie-item img {
    width: 100%;
    height: 330px;
    object-fit: cover;
    display: block;
}

.movie-item h3 {
    color: #ffffff;
    font-size: 18px;
    margin: 10px 0 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.movie-item p {
    color: #aaaaaa;
    font-size: 14px;
    padding: 10px;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin: 0;
}

/* 페이지 네비게이션 스타일 */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
    width: 100%;
}

.pagination a {
    padding: 10px 15px;
    background-color: #333;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

.pagination a:hover {
    background-color: #f0a500;
    transform: scale(1.1);
}

.pagination span {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

.pagination a.active {
    background-color: #f0a500;
    color: #181818;
    cursor: default;
}
